{
  "presets": ["env"],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false
    }],
    "transform-react-jsx",
    "transform-object-rest-spread", 
    "transform-class-properties"
  ]
}