{
    "parser": "babel-eslint",
    "extends": [
        "prettier",
        "prettier/react"
    ],
    "plugins": [
        "prettier",
        "babel",
        "jest",
        "react"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "no-unused-vars": [
            "error"
        ],
        "react/jsx-uses-react": 2,
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}